In [6]:
# Python Code version
# Import Dependencies
import pandas as pd
import tensorflow as tf
from tensorflow import keras


def run_model(bath, bed, sqft, zip):
    
    # Import necessary files
    census_df = pd.read_csv("../Resources/acs5_2018.csv")
    model = tf.keras.models.load_model("housing_model.h5")
    model = tf.keras.models.load_model("housing_model.h5")
    mean = pd.read_csv("mean_norm.csv")
    std = pd.read_csv("std_norm.csv")

    input_df =pd.DataFrame({"bathroom_ct": [bath],
                       "bedroom_ct": [bed],
                       "home_sqft": [sqft],
                       "zipcode": [zip]})
    merged_df = input_df.merge(census_df, how="inner")
    merged_df.drop("zipcode", axis=1, inplace=True)

    norm_df = (merged_df - mean) / std
    return(model.predict(norm_df)[0][0])

run_model(2,3,1666,85003)

391602.38

In [3]:
# Import Dependencies
import pandas as pd
import tensorflow as tf
from tensorflow import keras

In [4]:
# Import relevant files
census_df = pd.read_csv("../Resources/acs5_2018.csv")
census_df

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,Rate 25 and Over w/ Some or Completed Elementary School,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,601.0,17242.0,40.5,13092.0,6999.0,0.624754,11838.0,0.043166,0.143183,0.057696,0.115138,0.255786,0.017064,0.116320,0.075013,0.150448,0.018246,0.001267,0.006673
1,602.0,38442.0,42.3,16358.0,9277.0,0.510145,27411.0,0.034256,0.142571,0.059064,0.103061,0.244354,0.013243,0.085659,0.123564,0.134690,0.040823,0.007333,0.011382
2,603.0,48814.0,41.1,16603.0,11307.0,0.498566,34274.0,0.028389,0.102468,0.049775,0.103548,0.284210,0.017156,0.114752,0.069149,0.171792,0.041927,0.008665,0.008169
3,606.0,6437.0,43.3,12832.0,5943.0,0.646730,4516.0,0.040965,0.185562,0.087024,0.168733,0.314880,0.001993,0.052037,0.053366,0.068866,0.026572,0.000000,0.000000
4,610.0,27073.0,42.1,19309.0,10220.0,0.433051,19164.0,0.033552,0.139063,0.040753,0.096066,0.290597,0.012628,0.094709,0.116938,0.130349,0.039084,0.002818,0.003444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30883,99921.0,1986.0,41.4,58571.0,34414.0,0.144008,1397.0,0.000000,0.002147,0.005727,0.087330,0.353615,0.055834,0.190408,0.063708,0.141016,0.085183,0.006442,0.008590
30884,99922.0,330.0,39.5,34028.0,18213.0,0.390909,204.0,0.000000,0.000000,0.019608,0.068627,0.455882,0.039216,0.176471,0.098039,0.093137,0.049020,0.000000,0.000000
30885,99925.0,927.0,43.6,57375.0,25840.0,0.185545,643.0,0.000000,0.000000,0.004666,0.093313,0.454121,0.063764,0.158631,0.091757,0.082426,0.048212,0.003110,0.000000
30886,99926.0,1635.0,34.5,53409.0,22453.0,0.143731,1019.0,0.000000,0.000981,0.018646,0.075564,0.369971,0.066732,0.310108,0.052012,0.065751,0.033366,0.006869,0.000000
30887,99929.0,2484.0,49.5,57583.0,31489.0,0.077295,1875.0,0.001067,0.006933,0.024533,0.084267,0.376000,0.082667,0.148800,0.068800,0.140267,0.058133,0.003733,0.004800

In [5]:
model = tf.keras.models.load_model("housing_model.h5")
mean = pd.read_csv("mean_norm.csv")
mean

,bathroom_ct,bedroom_ct,home_sqft,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,...,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,2.215294,3.167414,1780.877902,37791.788711,37.14016,57504.766533,28233.510809,0.161099,24473.959488,0.018247,...,0.02387,0.085176,0.262559,0.076063,0.163205,0.084619,0.165052,0.066861,0.015153,0.00959

In [6]:
std = pd.read_csv("std_norm.csv")
std

,bathroom_ct,bedroom_ct,home_sqft,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,...,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,0.686077,0.931858,751.846606,17663.256625,7.73332,19390.231666,11467.627605,0.087245,10786.88509,0.013552,...,0.022315,0.048191,0.078214,0.02347,0.032047,0.02362,0.083961,0.040185,0.015757,0.008434

In [10]:
input_df =pd.DataFrame({"bathroom_ct": [2],
                       "bedroom_ct": [3.0],
                       "home_sqft": [1666.0],
                       "zipcode": [85003.0]})
merged_df = input_df.merge(census_df, how="inner")
merged_df.drop("zipcode", axis=1, inplace=True)
merged_df

,bathroom_ct,bedroom_ct,home_sqft,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,...,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,2,3.0,1666.0,8419.0,39.5,42936.0,37766.0,0.196223,6750.0,0.021037,...,0.019704,0.082074,0.186222,0.05037,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667

In [11]:
norm_df = (merged_df - mean) / std
norm_df

,bathroom_ct,bedroom_ct,home_sqft,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,...,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,-0.313804,-0.179656,-0.152794,-1.662932,0.305152,-0.751346,0.831252,0.402583,-1.643103,0.20588,...,-0.186705,-0.064364,-0.975998,-1.094724,0.487086,-1.669516,0.714444,0.935256,1.21026,1.5505

In [12]:
model.predict(norm_df)

array([[381967.44]], dtype=float32)